<div class="jinxFaidIn">
	<div class="animate-show jinxTop" style="width:100%;">
		<div id="Dragdown" class="transitionAllB col-md-12" style="margin-top:-10%;opacity:0;">
			
			<div class="panel panel-default">
				<div class="panel-heading">Welcome to Marmiton</div>
				
				<div class="col-md-12" style="float:none;overflow:auto;">
					<div style="margin-top:10px;">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis odio eu lacus aliquam tempor. Vestibulum ut venenatis ante, nec feugiat sapien. Etiam ac malesuada ipsum, ut imperdiet mi. Praesent pulvinar sem quis eros vehicula molestie. Nullam sit amet tortor vel ligula molestie molestie ac id eros. Fusce euismod tristique ex, egestas blandit metus euismod vitae. Nulla maximus eros eget luctus malesuada. Proin sagittis, lectus at ullamcorper suscipit, elit lectus tristique metus, eu porttitor lorem sapien blandit libero. Aenean eleifend, nisl ac imperdiet semper, tellus justo lobortis odio, sed eleifend magna erat vitae massa. Curabitur vulputate et lorem quis mollis. Aliquam consequat neque in urna finibus facilisis. Sed dictum massa sit amet magna interdum consequat. Praesent ullamcorper leo eu sapien vehicula, ut pretium lectus pharetra. Aliquam vitae rutrum neque, non semper lorem.
						</p>
						<p>
							Duis sollicitudin enim a purus gravida, nec aliquet dolor dapibus. Donec facilisis diam a pretium pellentesque. Aenean est enim, aliquam sed eros eu, fringilla mattis dui. Sed id gravida justo. Etiam ullamcorper vitae purus sed sodales. Integer sed ipsum tempor ligula egestas rutrum. Cras ac pharetra lorem. Proin rhoncus lobortis mauris, ut condimentum ex eleifend et. Donec et sagittis erat. Nulla libero tellus, lacinia quis diam ac, volutpat mattis lectus. Cras ullamcorper molestie lacus.
						</p>
						<p>
							Mauris ultrices metus nunc, id posuere nunc porta sit amet. Quisque et hendrerit lorem. Nunc vitae quam vitae lacus euismod facilisis. Mauris ultricies ex a metus rutrum, et hendrerit nisl viverra. Nullam a nisi ante. Fusce venenatis tellus odio, non iaculis mi convallis vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<div>