<div class="jinxMenu">
	<div class="jinxMenuBody">
		<h3 class="jinxMenuTitle">LOGO</h3>
		<ul class="list-group">
			<li class="list-group-item"><a href="#/home">Home</a></li>
			<li class="list-group-item"><a href="#/recipe">Recipe</a></li>
			<li class="list-group-item"><a href="#/ingredient">Ingredient</a></li>
		</ul>
	</div>
	
	<div class="jinxMenuBottom text-center">
		<i class="clickable fa fa-sign-out" ng-click="sidemenu.Logout()"></i>
	</div>
	<div class="jinxCollaps"><i class="fa fa-cog fa-2x"></i></div>
</div>