<div class="jinxFaidIn">
	<div class="animate-show jinxTop" style="width:100%;">
		<div id="Dragdown" class="transitionAllB col-md-12" style="margin-top:-10%;opacity:0;">
			<div class="col-md-12" style="margin-bottom:20px;">
				<a href="/#/recipe/" class="btn btn-xs btn-primary" role="button"><i class="fa fa-arrow-left"></i></a>
			</div>
			
			<div class="panel panel-default">
				<div ng-click="home.Get()" class="panel-heading">Recipe<i style="margin-left:10px;" class="{{(home._wait)? 'loading' : '' }} fa fa-refresh"></i></div>
				
				<div class="col-md-12 table-responsive" style="float: none;">
					<table class="table table-condensed">
						<tr>
							<td>Name:</td>
							<td><input type="text" ng-model="home._insert.name"></td>
						</tr>
						<tr>
							<td>Instruction:</td>
							<td><textarea class="jinxTextarea" ng-model="home._insert.instruction"></textarea></td>
						</tr>
						<tr>
							<td>Description:</td>
							<td><textarea class="jinxTextarea" ng-model="home._insert.description"></textarea></td>
						</tr>
                        <tr>
							<td>Image:<img style="width:75px;" src="{{home._insert.image}}"/></td>
							<td>
								<jinxdropzone ng-model="home._insert.image">Drop Files Here</jinxdropzone>
							</td>
						</tr>
					</table>
					<div class="text-right" style="margin-bottom:10px;">
						<button class="btn btn-success" type="submit" ng-click="home.Add(home._insert)">Save</button>
					</div>
				</div>
				
				<div class="col-md-12 table-responsive" style="float: none;">
					<table class="table table-condensed">
						<tr>
							<th class="transitionAll text-left" ng-repeat="(ki, vi) in home._head track by $index">{{vi}}</th>
							<th>Action</th>
						</tr>
						<tr ng-repeat="(kx, vx) in home.result track by $index" ng-if="home.result[kx] !== null" style="min-height:37px;">
							<td class="transitionAll text-left" ng-repeat="(ki, vi) in home._head track by $index">
								<div ng-if="(vi !== 'image')">
									<span ng-hide="(home._edit[kx] && vi !== 'id')">{{home.result[kx][vi]}}</span>
									<input ng-show="(home._edit[kx] && vi !== 'id')" type="text" ng-model="home.result[kx][ki]" required style="min-width:64px;">
								</div>
								<div ng-if="(vi === 'image')">
									<img style="width:75px;height:75px;" src="{{home.result[kx][vi]}}"/>
								</div>
							</td>
							<td class="text-right">
								<button class="btn btn-xs btn-success transitionAll" type="submit" ng-click="home.Edit(kx)">
									<i class="fa fa-{{(!home._edit[kx])? 'pencil' : 'floppy-o'}}"></i>
								</button>
								<button class="btn btn-xs btn-danger transitionAll" type="submit" ng-click="home.Remove(kx)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>